* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: dimgray; */
  background: rgb(136, 136, 136);
  background: linear-gradient(
    45deg,
    rgba(136, 136, 136, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans';
}
.container {
  height: 60vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hide {
  display: none;
}
.show {
  display: flex;
}
.fa-circle {
  font-weight: 500;
}
.grid-cell-left,
.grid-cell-right,
.grid-cell-center {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-bottom: 10px solid #000;
}
.grid-cell-left,
.grid-cell-center {
  border-right: 10px solid #000;
  /* border-radius: 10px; */
}

.last {
  border-bottom: none;
}
.sign {
  font-size: 7rem;
  font-weight: 100;
  color: gold;
}
.grid {
  display: grid;
  place-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  width: auto;
  height: max-content;
  position: relative;
}
.navbar {
  background-color: goldenrod;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  display: flex;
}
.fa-circle {
  color: crimson;
  font-weight: 500;
}
.fa-times {
  color: goldenrod;
}
.weapons {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  /* display: none; */
}
.weapons > button {
  font-weight: 300;
  font-size: 3rem;
  border: dimgray;
}
.restart,
.tic,
.tac {
  color: black;
  padding: 1rem 2rem;
  /* border: 1px solid gold; */
  /* border-width: 1px; */
  background-color: transparent;
}
.restart {
  margin-top: 2rem;
  font-size: 1rem;
}
.main-heading {
  font-family: Pacifico;
  font-size: 2rem;
  letter-spacing: 3px;
  color: #1b0e0e;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
  /* margin-top: 3rem; */
}
.title-tic {
  margin-left: 1rem;
}
.title-toe {
  margin-left: 2rem;
}
.heading {
  text-align: center;
  margin-bottom: 1rem;
  /* margin-bottom: -70px; */

  font-weight: 100;
  font-size: 3rem;
  text-transform: capitalize;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(10, 23, 34, 0.8); */
}
