* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: -moz-linear-gradient(
    45deg,
    rgba(191, 210, 85, 1) 0%,
    rgba(142, 185, 42, 1) 50%,
    rgba(114, 170, 0, 1) 51%,
    rgba(158, 203, 45, 1) 100%
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: 'Mermaid';
}
.container {
  height: 60vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Mermaid';
  z-index: 1;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

.grid-cell-left,
.grid-cell-right,
.grid-cell-center {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-bottom: 10px solid goldenrod;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
.grid-cell-left,
.grid-cell-center {
  border-right: 10px solid goldenrod;
  /* border-radius: 10px; */
}

.last {
  border-bottom: none;
}
.sign {
  font-size: 12em;
  font-weight: 100;
}
.grid {
  display: grid;
  place-items: center;
}
.header {
  display: flex;
  flex-direction: column;
  width: auto;
  height: max-content;
  position: relative;
  height: 60%;
  justify-content: center;
}
.navbar {
  background-color: goldenrod;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  display: flex;
}

.weapons {
  width: 30vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
.weapons > button {
  /* font-weight: 300; */
  font-size: 10rem;
  border: dimgray;
  font-family: 'Mermaid';
  font-size: 10rem;
}
.tic,
.tac {
  background-color: transparent;
}
.tic {
  color: black;
}
.tac {
  color: white;
}

.main-heading {
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 900;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  line-height: 0.9;
  margin-left: -9px;
}

.title-tic {
  margin-left: 1rem;
  /* outline: white solid 10px; */
}
.title-toe {
  margin-left: 2rem;
}
.question-mark {
  color: brown;
  text-align: center;
  font-weight: 100;
  font-size: 8rem;
  text-transform: capitalize;
}
.overlay {
  display: grid;
  place-items: center;
  font-size: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  visibility: hidden;
  color: brown;
}
